- name: Check if shopware root exists
  tags: shopware
  stat: path={{ shopware_root }}/shopware.php
  register: shopwareFile

- name: Creates shopware directory
  tags: shopware
  file: path={{ shopware_root }} state=directory
  when: not shopwareFile.stat.exists

- name: Install Shopware shop
  tags: shopware
  command: sw install:release --release="{{ shopware_version }}" --installDir="." --basePath="{{ shopware_config.shop_url }}" --databaseName="shopware" --username="shopware" --password="shopware" --name="Styla" --mail="support@styla.com" --language="de_DE" chdir="{{ shopware_root }}"
  when: not shopwareFile.stat.exists

- name: Change owner and group for whole www folder since its root
  tags: shopware
  file: path={{ shopware_root }} owner=www-data group=www-data state=directory recurse=true
  when: not shopwareFile.stat.exists